$paleYellow: rgba(245, 239, 229, 1);
$darkBlue: rgba(48,127,218, 1);
$lightBlue: rgba(0,183,255,1);
$shadow: rgba(0, 0, 0, 0.2);
$lightGray: rgba(180, 180, 180, 1);
$gray: rgba(128,128,128, 1);
$danger: rgba(255, 99, 71, 1);