.Note {
  margin: 3rem;
  padding: 2rem;
  background-color: rgb(245, 239, 229);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;

  h3, h2 {
    color: rgba(48,127,218,1);
    font-weight: bold;
  }

  article{
    margin-bottom: 2rem;
  }

  small {
    color: rgb(180, 180, 180);
  }

  &-isPinned {
    border: 3px solid rgba(48,127,218,1);
  }
}