@import './colors';

.Note {
  article{
    margin-bottom: 2rem;
  }

  small {
    color: $lightGray;
  }

  &-isPinned {
    border: 3px solid $darkBlue;
  }

  #edit {
    margin-right: 1rem;
    & svg {
      color: $lightGray;
      &:hover {
        color: $darkBlue;
      }
    }
  }

  #delete {
    & svg {
      color: $lightGray;
      &:hover {
        color: $danger;
      }
    }
  }

  #pin {
    & svg {
      color: $lightGray;
      &:hover {
        color: $gray;
      }
    }
    & svg[data-ispinned=true] {
      color: $darkBlue;
      &:hover {
        color: $lightBlue;
      }
    }
  }
}